name: Update Version Tag

on:
  push:
    branches:
      - main

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version: 18

      - name: Install dependencies
        run: npm ci

       # - name: Build code
      #   run: npm run build

      # - name: Update version
      #   id: get-latest-tag
      #   run: npx semantic-release 
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Latest Release Version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1

      - name: Rename file
        run: mv hello_world.rb ${{ steps.latest-tag.outputs.result }}.rb



      - name: Sync latest.js file to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete --exclude '*' --include 'test.rb'
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'ca-central-1'


      # - name: Upload to S3
      #   uses: jakejarvis/s3-sync-action@master
      #   with:
      #     args: --exclude '*' --include 'hello_world.rb' --acl public-read --follow-symlinks --delete --rename 's/hello_world.rb/test.rb/'
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'ca-central-1'


      
      # - name: Sync latest.js file to S3
      #   uses: jakejarvis/s3-sync-action@master
      #   with:
      #     args: --acl public-read --follow-symlinks --exclude '*' --include 'hello_world.rb'
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'ca-central-1'
      #     SRC_DIR: hello_world.rb
      #     DEST_DIR: hello_world.rb

      # - name: Sync versioned file to S3
      #   uses: jakejarvis/s3-sync-action@master
      #   with:
      #     args: --acl public-read --follow-symlinks --exclude '*' --include 'hello_world.rb'
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'ca-central-1'
      #     SRC_DIR: hello_world.rb
      #     DEST_DIR: ${{ env.VERSION }}.js







      # - name: Echo Latest Release Tag
      #   run: |
      #     echo "Latest Release Tag: ${{ steps.package-version.outputs.current-version }}"

      # - name: Get Latest Release Tag
      #   id: latest-tag
      #   uses: actions/github-script@v6
      #   with:
      #     result-encoding: string
      #     script: |
      #       const res = await github.rest.repos.getLatestRelease({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo
      #       });
      #       return res.data.tag_name

      # - name: Echo Latest Release Tag
      #   run: |
      #     echo "Latest Release Tag: ${{ steps.latest-tag.outputs.result }}"